In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317145 sha256=606708a651002241d8689b8dc5be01779ab755b48a907eb090514f725d5de7b9
  Stored in directory: /root/.cache/pip/wheels/9f/34/a4/159aa12d0a510d5ff7c8f0220abbea42e5d81ecf588c4fd884
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [3]:
#Access to my Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pyspark

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('drive/MyDrive/PySparkpractice/P9-OLTP.csv')
df.head()

,TransactionID,Timestamp,CustomerID,Name,Surname,Shipping_State,Item,Description,Retail_Price,Loyalty_Discount
0,113255,2016-12-13 18:05:37,200000663,Leonard,Jackson,Delaware,8619953091,Pillowcase,18.96,0.02
1,113254,2016-12-13 18:05:22,200000661,Lucas,Abraham,Louisiana,2020397001,Men's Pajama Set,23.10,0.00
2,113253,2016-12-13 18:03:57,200000662,Trevor,Skinner,Louisiana,4681342313,Sheets,29.90,0.10
3,113252,2016-12-13 18:01:45,100000007,Dorothy,Thomson,Alabama,6697166886,Coat,159.80,0.07
4,113251,2016-12-13 18:01:22,400000180,Eric,Bower,New Hampshire,6697166886,Coat,159.80,0.06

### Start PySpark session

In [7]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [9]:
spark

### Load dataset with PySpark

In [10]:
df_pyspark = spark.read.option('header','true').csv('drive/MyDrive/PySparkpractice/P9-OLTP.csv', inferSchema=True)

NOTE: By default all the dataset features will be read with Type String. inferSchema try to infer the dataset features types

In [11]:
df_pyspark.show()

+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|TransactionID|          Timestamp|CustomerID|     Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|
+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|       113255|2016-12-13 18:05:37| 200000663|  Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|
|       113254|2016-12-13 18:05:22| 200000661|    Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|
|       113253|2016-12-13 18:03:57| 200000662|   Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|
|       113252|2016-12-13 18:01:45| 100000007|  Dorothy|  Thomson|       Alabama|6697166886|                Coat|       159.8|            0.07|
|       113251|2016-12-13 18:01:22| 400000180|     Eric|    Bower| New Hampshire|6697166886|                Coat|       159.8|            0.06|
|       113250|2016-12-13 17:59:20| 200000701|   Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|
|       113249|2016-12-13 17:59:11| 300000467|   Angela| Morrison|          Utah|7010679527|             Blanket|       63.84|            0.08|
|       113248|2016-12-13 17:58:07| 400000706| Samantha|    Mills|       Alabama|1893735141|               Socks|       115.5|             0.1|
|       113247|2016-12-13 17:57:50| 100000061|    Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|
|       113246|2016-12-13 17:55:30| 400000513|      Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|
|       113245|2016-12-13 17:51:34| 200000459|  Charles|    Brown|       Arizona|6988128169|             Handbag|       25.44|            0.04|
|       113244|2016-12-13 17:48:55| 200000482|   Justin|   Graham|       Arizona|7270957383|               Scarf|       29.85|            0.01|
|       113243|2016-12-13 17:48:05| 100000081|     Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|
|       113242|2016-12-13 17:46:18| 200000821|  Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|
|       113241|2016-12-13 17:45:21| 300000015|Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|
|       113240|2016-12-13 17:43:39| 100000252| Nicholas|    Lyman|North Carolina|4924918902|             T-shirt|       62.79|            0.09|
|       113239|2016-12-13 17:42:54| 300000822|  Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|
|       113238|2016-12-13 17:42:42| 300000815|    Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|
|       113237|2016-12-13 17:42:31| 100000618|   Andrew|   Wright|        Wyomin|3890778939|   Suit & 2 pc Dress|      125.16|            0.08|
|       113236|2016-12-13 17:42:25| 100000051|   Sophie|  Wilkins|    Washington|5153370805|              Shorts|       43.96|            0.04|
+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
only showing top 20 rows

In [12]:
df_pyspark.printSchema()

root
 |-- TransactionID: integer (nullable = true)
 |-- Timestamp: timestamp (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Surname: string (nullable = true)
 |-- Shipping_State: string (nullable = true)
 |-- Item: long (nullable = true)
 |-- Description: string (nullable = true)
 |-- Retail_Price: double (nullable = true)
 |-- Loyalty_Discount: double (nullable = true)

In [13]:
#silmple way to load dataset
df_pyspark = spark.read.csv('drive/MyDrive/PySparkpractice/P9-OLTP.csv', header = True, inferSchema=True)
df_pyspark.show()

+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|TransactionID|          Timestamp|CustomerID|     Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|
+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|       113255|2016-12-13 18:05:37| 200000663|  Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|
|       113254|2016-12-13 18:05:22| 200000661|    Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|
|       113253|2016-12-13 18:03:57| 200000662|   Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|
|       113252|2016-12-13 18:01:45| 100000007|  Dorothy|  Thomson|       Alabama|6697166886|                Coat|       159.8|            0.07|
|       113251|2016-12-13 18:01:22| 400000180|     Eric|    Bower| New Hampshire|6697166886|                Coat|       159.8|            0.06|
|       113250|2016-12-13 17:59:20| 200000701|   Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|
|       113249|2016-12-13 17:59:11| 300000467|   Angela| Morrison|          Utah|7010679527|             Blanket|       63.84|            0.08|
|       113248|2016-12-13 17:58:07| 400000706| Samantha|    Mills|       Alabama|1893735141|               Socks|       115.5|             0.1|
|       113247|2016-12-13 17:57:50| 100000061|    Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|
|       113246|2016-12-13 17:55:30| 400000513|      Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|
|       113245|2016-12-13 17:51:34| 200000459|  Charles|    Brown|       Arizona|6988128169|             Handbag|       25.44|            0.04|
|       113244|2016-12-13 17:48:55| 200000482|   Justin|   Graham|       Arizona|7270957383|               Scarf|       29.85|            0.01|
|       113243|2016-12-13 17:48:05| 100000081|     Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|
|       113242|2016-12-13 17:46:18| 200000821|  Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|
|       113241|2016-12-13 17:45:21| 300000015|Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|
|       113240|2016-12-13 17:43:39| 100000252| Nicholas|    Lyman|North Carolina|4924918902|             T-shirt|       62.79|            0.09|
|       113239|2016-12-13 17:42:54| 300000822|  Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|
|       113238|2016-12-13 17:42:42| 300000815|    Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|
|       113237|2016-12-13 17:42:31| 100000618|   Andrew|   Wright|        Wyomin|3890778939|   Suit & 2 pc Dress|      125.16|            0.08|
|       113236|2016-12-13 17:42:25| 100000051|   Sophie|  Wilkins|    Washington|5153370805|              Shorts|       43.96|            0.04|
+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
only showing top 20 rows

In [14]:
df_pyspark.printSchema()

root
 |-- TransactionID: integer (nullable = true)
 |-- Timestamp: timestamp (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Surname: string (nullable = true)
 |-- Shipping_State: string (nullable = true)
 |-- Item: long (nullable = true)
 |-- Description: string (nullable = true)
 |-- Retail_Price: double (nullable = true)
 |-- Loyalty_Discount: double (nullable = true)

In [15]:
df_pyspark.columns

['TransactionID',
 'Timestamp',
 'CustomerID',
 'Name',
 'Surname',
 'Shipping_State',
 'Item',
 'Description',
 'Retail_Price',
 'Loyalty_Discount']

In [16]:
df_pyspark.head(3)

[Row(TransactionID=113255, Timestamp=datetime.datetime(2016, 12, 13, 18, 5, 37), CustomerID=200000663, Name='Leonard', Surname='Jackson', Shipping_State='Delaware', Item=8619953091, Description='Pillowcase', Retail_Price=18.96, Loyalty_Discount=0.02),
 Row(TransactionID=113254, Timestamp=datetime.datetime(2016, 12, 13, 18, 5, 22), CustomerID=200000661, Name='Lucas', Surname='Abraham', Shipping_State='Louisiana', Item=2020397001, Description="Men's Pajama Set", Retail_Price=23.1, Loyalty_Discount=0.0),
 Row(TransactionID=113253, Timestamp=datetime.datetime(2016, 12, 13, 18, 3, 57), CustomerID=200000662, Name='Trevor', Surname='Skinner', Shipping_State='Louisiana', Item=4681342313, Description='Sheets', Retail_Price=29.9, Loyalty_Discount=0.1)]

### Select columns

In [17]:
#Select one columns
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|  Leonard|
|    Lucas|
|   Trevor|
|  Dorothy|
|     Eric|
|   Joshua|
|   Angela|
| Samantha|
|    Kylie|
|      Amy|
|  Charles|
|   Justin|
|     Joan|
|  Charles|
|Madeleine|
| Nicholas|
|  Leonard|
|    Pippa|
|   Andrew|
|   Sophie|
+---------+
only showing top 20 rows

In [18]:
#Select multiple columns
df_pyspark.select(['Name','Surname', 'Loyalty_Discount']).show()

+---------+---------+----------------+
|     Name|  Surname|Loyalty_Discount|
+---------+---------+----------------+
|  Leonard|  Jackson|            0.02|
|    Lucas|  Abraham|             0.0|
|   Trevor|  Skinner|             0.1|
|  Dorothy|  Thomson|            0.07|
|     Eric|    Bower|            0.06|
|   Joshua|   Wilson|             0.1|
|   Angela| Morrison|            0.08|
| Samantha|    Mills|             0.1|
|    Kylie|   Howard|             0.1|
|      Amy|  Wilkins|            0.02|
|  Charles|    Brown|            0.04|
|   Justin|   Graham|            0.01|
|     Joan| Buckland|            0.02|
|  Charles|Underwood|            0.08|
|Madeleine| Marshall|            0.08|
| Nicholas|    Lyman|            0.09|
|  Leonard|   Fisher|            0.07|
|    Pippa|Robertson|            0.03|
|   Andrew|   Wright|            0.08|
|   Sophie|  Wilkins|            0.04|
+---------+---------+----------------+
only showing top 20 rows

### See dataset information

In [19]:
#Column data types
df_pyspark.dtypes

[('TransactionID', 'int'),
 ('Timestamp', 'timestamp'),
 ('CustomerID', 'int'),
 ('Name', 'string'),
 ('Surname', 'string'),
 ('Shipping_State', 'string'),
 ('Item', 'bigint'),
 ('Description', 'string'),
 ('Retail_Price', 'double'),
 ('Loyalty_Discount', 'double')]

In [20]:
df_pyspark.describe().show()

+-------+-----------------+--------------------+-------+-------+--------------+--------------------+--------------+------------------+--------------------+
|summary|    TransactionID|          CustomerID|   Name|Surname|Shipping_State|                Item|   Description|      Retail_Price|    Loyalty_Discount|
+-------+-----------------+--------------------+-------+-------+--------------+--------------------+--------------+------------------+--------------------+
|  count|             3455|                3455|   3455|   3455|          3455|                3455|          3455|              3455|                3455|
|   mean|         111528.0|1.7979786802633864E8|   null|   null|          null| 5.276712062120116E9|          null| 58.52623733719242|0.050457308248914694|
| stddev|997.5169171497795| 9.563412101468475E7|   null|   null|          null|2.6004860735100303E9|          null|34.464217470272985|0.032214527058601276|
|    min|           109801|           100000001|Abigail|Abraham|       Alabama|          1039854547|         Apron|               5.6|                 0.0|
|    max|           113255|           400000916|    Zoe|  Young|        Wyomin|          9916068026|Waterbed Sheet|             159.8|                 0.1|
+-------+-----------------+--------------------+-------+-------+--------------+--------------------+--------------+------------------+--------------------+

### Add, remove and rename columns

In [21]:
#Add columns
df_pyspark = df_pyspark.withColumn('Price', df_pyspark['Retail_price'] * (1-df_pyspark['Loyalty_Discount']))
df_pyspark.show()

+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+------------------+
|TransactionID|          Timestamp|CustomerID|     Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|             Price|
+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+------------------+
|       113255|2016-12-13 18:05:37| 200000663|  Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|           18.5808|
|       113254|2016-12-13 18:05:22| 200000661|    Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|              23.1|
|       113253|2016-12-13 18:03:57| 200000662|   Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|             26.91|
|       113252|2016-12-13 18:01:45| 100000007|  Dorothy|  Thomson|       Alabama|6697166886|                Coat|       159.8|            0.07|           148.614|
|       113251|2016-12-13 18:01:22| 400000180|     Eric|    Bower| New Hampshire|6697166886|                Coat|       159.8|            0.06|           150.212|
|       113250|2016-12-13 17:59:20| 200000701|   Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|            11.583|
|       113249|2016-12-13 17:59:11| 300000467|   Angela| Morrison|          Utah|7010679527|             Blanket|       63.84|            0.08|58.732800000000005|
|       113248|2016-12-13 17:58:07| 400000706| Samantha|    Mills|       Alabama|1893735141|               Socks|       115.5|             0.1|            103.95|
|       113247|2016-12-13 17:57:50| 100000061|    Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|            44.775|
|       113246|2016-12-13 17:55:30| 400000513|      Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|           41.0228|
|       113245|2016-12-13 17:51:34| 200000459|  Charles|    Brown|       Arizona|6988128169|             Handbag|       25.44|            0.04|           24.4224|
|       113244|2016-12-13 17:48:55| 200000482|   Justin|   Graham|       Arizona|7270957383|               Scarf|       29.85|            0.01|           29.5515|
|       113243|2016-12-13 17:48:05| 100000081|     Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|           46.8048|
|       113242|2016-12-13 17:46:18| 200000821|  Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|           63.2684|
|       113241|2016-12-13 17:45:21| 300000015|Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|           88.2096|
|       113240|2016-12-13 17:43:39| 100000252| Nicholas|    Lyman|North Carolina|4924918902|             T-shirt|       62.79|            0.09|           57.1389|
|       113239|2016-12-13 17:42:54| 300000822|  Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|           66.7926|
|       113238|2016-12-13 17:42:42| 300000815|    Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|           65.8824|
|       113237|2016-12-13 17:42:31| 100000618|   Andrew|   Wright|        Wyomin|3890778939|   Suit & 2 pc Dress|      125.16|            0.08|          115.1472|
|       113236|2016-12-13 17:42:25| 100000051|   Sophie|  Wilkins|    Washington|5153370805|              Shorts|       43.96|            0.04|           42.2016|
+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+------------------+
only showing top 20 rows

In [22]:
#Drop columns
df_pyspark = df_pyspark.drop('Price')
df_pyspark.show()

+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|TransactionID|          Timestamp|CustomerID|     Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|
+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|       113255|2016-12-13 18:05:37| 200000663|  Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|
|       113254|2016-12-13 18:05:22| 200000661|    Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|
|       113253|2016-12-13 18:03:57| 200000662|   Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|
|       113252|2016-12-13 18:01:45| 100000007|  Dorothy|  Thomson|       Alabama|6697166886|                Coat|       159.8|            0.07|
|       113251|2016-12-13 18:01:22| 400000180|     Eric|    Bower| New Hampshire|6697166886|                Coat|       159.8|            0.06|
|       113250|2016-12-13 17:59:20| 200000701|   Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|
|       113249|2016-12-13 17:59:11| 300000467|   Angela| Morrison|          Utah|7010679527|             Blanket|       63.84|            0.08|
|       113248|2016-12-13 17:58:07| 400000706| Samantha|    Mills|       Alabama|1893735141|               Socks|       115.5|             0.1|
|       113247|2016-12-13 17:57:50| 100000061|    Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|
|       113246|2016-12-13 17:55:30| 400000513|      Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|
|       113245|2016-12-13 17:51:34| 200000459|  Charles|    Brown|       Arizona|6988128169|             Handbag|       25.44|            0.04|
|       113244|2016-12-13 17:48:55| 200000482|   Justin|   Graham|       Arizona|7270957383|               Scarf|       29.85|            0.01|
|       113243|2016-12-13 17:48:05| 100000081|     Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|
|       113242|2016-12-13 17:46:18| 200000821|  Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|
|       113241|2016-12-13 17:45:21| 300000015|Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|
|       113240|2016-12-13 17:43:39| 100000252| Nicholas|    Lyman|North Carolina|4924918902|             T-shirt|       62.79|            0.09|
|       113239|2016-12-13 17:42:54| 300000822|  Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|
|       113238|2016-12-13 17:42:42| 300000815|    Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|
|       113237|2016-12-13 17:42:31| 100000618|   Andrew|   Wright|        Wyomin|3890778939|   Suit & 2 pc Dress|      125.16|            0.08|
|       113236|2016-12-13 17:42:25| 100000051|   Sophie|  Wilkins|    Washington|5153370805|              Shorts|       43.96|            0.04|
+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
only showing top 20 rows

In [23]:
#Rename columns
df_pyspark = df_pyspark.withColumnRenamed('Name', 'First_Name')
df_pyspark.show()

+-------------+-------------------+----------+----------+---------+--------------+----------+--------------------+------------+----------------+
|TransactionID|          Timestamp|CustomerID|First_Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|
+-------------+-------------------+----------+----------+---------+--------------+----------+--------------------+------------+----------------+
|       113255|2016-12-13 18:05:37| 200000663|   Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|
|       113254|2016-12-13 18:05:22| 200000661|     Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|
|       113253|2016-12-13 18:03:57| 200000662|    Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|
|       113252|2016-12-13 18:01:45| 100000007|   Dorothy|  Thomson|       Alabama|6697166886|                Coat|       159.8|            0.07|
|       113251|2016-12-13 18:01:22| 400000180|      Eric|    Bower| New Hampshire|6697166886|                Coat|       159.8|            0.06|
|       113250|2016-12-13 17:59:20| 200000701|    Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|
|       113249|2016-12-13 17:59:11| 300000467|    Angela| Morrison|          Utah|7010679527|             Blanket|       63.84|            0.08|
|       113248|2016-12-13 17:58:07| 400000706|  Samantha|    Mills|       Alabama|1893735141|               Socks|       115.5|             0.1|
|       113247|2016-12-13 17:57:50| 100000061|     Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|
|       113246|2016-12-13 17:55:30| 400000513|       Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|
|       113245|2016-12-13 17:51:34| 200000459|   Charles|    Brown|       Arizona|6988128169|             Handbag|       25.44|            0.04|
|       113244|2016-12-13 17:48:55| 200000482|    Justin|   Graham|       Arizona|7270957383|               Scarf|       29.85|            0.01|
|       113243|2016-12-13 17:48:05| 100000081|      Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|
|       113242|2016-12-13 17:46:18| 200000821|   Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|
|       113241|2016-12-13 17:45:21| 300000015| Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|
|       113240|2016-12-13 17:43:39| 100000252|  Nicholas|    Lyman|North Carolina|4924918902|             T-shirt|       62.79|            0.09|
|       113239|2016-12-13 17:42:54| 300000822|   Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|
|       113238|2016-12-13 17:42:42| 300000815|     Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|
|       113237|2016-12-13 17:42:31| 100000618|    Andrew|   Wright|        Wyomin|3890778939|   Suit & 2 pc Dress|      125.16|            0.08|
|       113236|2016-12-13 17:42:25| 100000051|    Sophie|  Wilkins|    Washington|5153370805|              Shorts|       43.96|            0.04|
+-------------+-------------------+----------+----------+---------+--------------+----------+--------------------+------------+----------------+
only showing top 20 rows

### Drop columns, rows and missing vlaues andling

In [24]:
df_pyspark = spark.read.csv('drive/MyDrive/PySparkpractice/P9-OLTP_missing_values.csv', header = True, inferSchema=True)
df_pyspark.show()

+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|TransactionID|       Timestamp|CustomerID|     Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|       113255|13/12/2016 18:05| 200000663|  Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|
|       113254|13/12/2016 18:05| 200000661|    Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|
|       113253|13/12/2016 18:03| 200000662|   Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|
|       113252|13/12/2016 18:01| 100000007|  Dorothy|  Thomson|       Alabama|      null|                Coat|       159.8|            0.07|
|       113251|13/12/2016 18:01| 400000180|     Eric|    Bower| New Hampshire|6697166886|                Coat|       159.8|            null|
|       113250|13/12/2016 17:59| 200000701|   Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|
|       113249|            null| 300000467|   Angela| Morrison|          Utah|7010679527|             Blanket|       63.84|            0.08|
|       113248|13/12/2016 17:58| 400000706| Samantha|    Mills|       Alabama|1893735141|                null|       115.5|             0.1|
|       113247|13/12/2016 17:57| 100000061|    Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|
|       113246|13/12/2016 17:55| 400000513|      Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|
|       113245|13/12/2016 17:51| 200000459|  Charles|    Brown|       Arizona|6988128169|             Handbag|        null|            0.04|
|       113244|13/12/2016 17:48| 200000482|   Justin|   Graham|          null|7270957383|               Scarf|       29.85|            0.01|
|       113243|13/12/2016 17:48| 100000081|     Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|
|       113242|13/12/2016 17:46| 200000821|  Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|
|       113241|13/12/2016 17:45| 300000015|Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|
|       113240|13/12/2016 17:43|      null| Nicholas|    Lyman|North Carolina|4924918902|             T-shirt|       62.79|            0.09|
|       113239|13/12/2016 17:42| 300000822|  Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|
|       113238|13/12/2016 17:42| 300000815|    Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|
|       113237|13/12/2016 17:42| 100000618|   Andrew|   Wright|        Wyomin|3890778939|   Suit & 2 pc Dress|      125.16|            0.08|
|       113236|13/12/2016 17:42| 100000051|   Sophie|  Wilkins|    Washington|5153370805|              Shorts|       43.96|            0.04|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
only showing top 20 rows

In [25]:
#drop all rows with null values. default how =='any'
df_pyspark.na.drop().show()

+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|TransactionID|       Timestamp|CustomerID|     Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|       113255|13/12/2016 18:05| 200000663|  Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|
|       113254|13/12/2016 18:05| 200000661|    Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|
|       113253|13/12/2016 18:03| 200000662|   Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|
|       113250|13/12/2016 17:59| 200000701|   Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|
|       113247|13/12/2016 17:57| 100000061|    Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|
|       113246|13/12/2016 17:55| 400000513|      Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|
|       113243|13/12/2016 17:48| 100000081|     Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|
|       113242|13/12/2016 17:46| 200000821|  Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|
|       113241|13/12/2016 17:45| 300000015|Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|
|       113239|13/12/2016 17:42| 300000822|  Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|
|       113238|13/12/2016 17:42| 300000815|    Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|
|       113237|13/12/2016 17:42| 100000618|   Andrew|   Wright|        Wyomin|3890778939|   Suit & 2 pc Dress|      125.16|            0.08|
|       113236|13/12/2016 17:42| 100000051|   Sophie|  Wilkins|    Washington|5153370805|              Shorts|       43.96|            0.04|
|       113234|13/12/2016 17:40| 100000898| Samantha|     Ross|        Montan|2695940506|             Sweater|        59.4|            0.02|
|       113231|13/12/2016 17:38| 100000878| Felicity| Metcalfe|       Florida|8068199275|              Slacks|       87.78|            0.03|
|       113230|13/12/2016 17:36| 100000013|     Ryan|MacDonald|      Delaware|2588421965|       Commode Cover|       15.84|            0.08|
|       113227|13/12/2016 17:33| 100000158|  Michael|   Powell|North Carolina|3126356136|        Formal Dress|        99.9|            0.09|
|       113226|13/12/2016 17:33| 300000023|  Deirdre| McDonald|      New York|2178891798|          Hand Towel|       18.17|            0.05|
|       113225|13/12/2016 17:33| 100000923|   Andrea|Henderson|      Missouri|3795753080|               Jeans|        38.1|            0.09|
|       113224|13/12/2016 17:29| 100000251|    Fiona|    Jones|  South Dakota|2210750188|              Blazer|      119.76|             0.1|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
only showing top 20 rows

In [26]:
#drop all rows where a row only have null values. how == 'all'
df_pyspark.na.drop(how='all').show()

+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|TransactionID|       Timestamp|CustomerID|     Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|       113255|13/12/2016 18:05| 200000663|  Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|
|       113254|13/12/2016 18:05| 200000661|    Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|
|       113253|13/12/2016 18:03| 200000662|   Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|
|       113252|13/12/2016 18:01| 100000007|  Dorothy|  Thomson|       Alabama|      null|                Coat|       159.8|            0.07|
|       113251|13/12/2016 18:01| 400000180|     Eric|    Bower| New Hampshire|6697166886|                Coat|       159.8|            null|
|       113250|13/12/2016 17:59| 200000701|   Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|
|       113249|            null| 300000467|   Angela| Morrison|          Utah|7010679527|             Blanket|       63.84|            0.08|
|       113248|13/12/2016 17:58| 400000706| Samantha|    Mills|       Alabama|1893735141|                null|       115.5|             0.1|
|       113247|13/12/2016 17:57| 100000061|    Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|
|       113246|13/12/2016 17:55| 400000513|      Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|
|       113245|13/12/2016 17:51| 200000459|  Charles|    Brown|       Arizona|6988128169|             Handbag|        null|            0.04|
|       113244|13/12/2016 17:48| 200000482|   Justin|   Graham|          null|7270957383|               Scarf|       29.85|            0.01|
|       113243|13/12/2016 17:48| 100000081|     Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|
|       113242|13/12/2016 17:46| 200000821|  Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|
|       113241|13/12/2016 17:45| 300000015|Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|
|       113240|13/12/2016 17:43|      null| Nicholas|    Lyman|North Carolina|4924918902|             T-shirt|       62.79|            0.09|
|       113239|13/12/2016 17:42| 300000822|  Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|
|       113238|13/12/2016 17:42| 300000815|    Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|
|       113237|13/12/2016 17:42| 100000618|   Andrew|   Wright|        Wyomin|3890778939|   Suit & 2 pc Dress|      125.16|            0.08|
|       113236|13/12/2016 17:42| 100000051|   Sophie|  Wilkins|    Washington|5153370805|              Shorts|       43.96|            0.04|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
only showing top 20 rows

In [27]:
#drop all rows where at least 2 non null values are not present. how == 'any', threshold == 2
df_pyspark.na.drop(how='all', thresh=2).show()

+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|TransactionID|       Timestamp|CustomerID|     Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|       113255|13/12/2016 18:05| 200000663|  Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|
|       113254|13/12/2016 18:05| 200000661|    Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|
|       113253|13/12/2016 18:03| 200000662|   Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|
|       113252|13/12/2016 18:01| 100000007|  Dorothy|  Thomson|       Alabama|      null|                Coat|       159.8|            0.07|
|       113251|13/12/2016 18:01| 400000180|     Eric|    Bower| New Hampshire|6697166886|                Coat|       159.8|            null|
|       113250|13/12/2016 17:59| 200000701|   Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|
|       113249|            null| 300000467|   Angela| Morrison|          Utah|7010679527|             Blanket|       63.84|            0.08|
|       113248|13/12/2016 17:58| 400000706| Samantha|    Mills|       Alabama|1893735141|                null|       115.5|             0.1|
|       113247|13/12/2016 17:57| 100000061|    Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|
|       113246|13/12/2016 17:55| 400000513|      Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|
|       113245|13/12/2016 17:51| 200000459|  Charles|    Brown|       Arizona|6988128169|             Handbag|        null|            0.04|
|       113244|13/12/2016 17:48| 200000482|   Justin|   Graham|          null|7270957383|               Scarf|       29.85|            0.01|
|       113243|13/12/2016 17:48| 100000081|     Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|
|       113242|13/12/2016 17:46| 200000821|  Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|
|       113241|13/12/2016 17:45| 300000015|Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|
|       113240|13/12/2016 17:43|      null| Nicholas|    Lyman|North Carolina|4924918902|             T-shirt|       62.79|            0.09|
|       113239|13/12/2016 17:42| 300000822|  Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|
|       113238|13/12/2016 17:42| 300000815|    Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|
|       113237|13/12/2016 17:42| 100000618|   Andrew|   Wright|        Wyomin|3890778939|   Suit & 2 pc Dress|      125.16|            0.08|
|       113236|13/12/2016 17:42| 100000051|   Sophie|  Wilkins|    Washington|5153370805|              Shorts|       43.96|            0.04|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
only showing top 20 rows

In [28]:
#drop rows that have null values on column CustomerID. subset=[list of column names]
df_pyspark.na.drop(how='all', subset=['CustomerID']).show()

+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|TransactionID|       Timestamp|CustomerID|     Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|       113255|13/12/2016 18:05| 200000663|  Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|
|       113254|13/12/2016 18:05| 200000661|    Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|
|       113253|13/12/2016 18:03| 200000662|   Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|
|       113252|13/12/2016 18:01| 100000007|  Dorothy|  Thomson|       Alabama|      null|                Coat|       159.8|            0.07|
|       113251|13/12/2016 18:01| 400000180|     Eric|    Bower| New Hampshire|6697166886|                Coat|       159.8|            null|
|       113250|13/12/2016 17:59| 200000701|   Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|
|       113249|            null| 300000467|   Angela| Morrison|          Utah|7010679527|             Blanket|       63.84|            0.08|
|       113248|13/12/2016 17:58| 400000706| Samantha|    Mills|       Alabama|1893735141|                null|       115.5|             0.1|
|       113247|13/12/2016 17:57| 100000061|    Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|
|       113246|13/12/2016 17:55| 400000513|      Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|
|       113245|13/12/2016 17:51| 200000459|  Charles|    Brown|       Arizona|6988128169|             Handbag|        null|            0.04|
|       113244|13/12/2016 17:48| 200000482|   Justin|   Graham|          null|7270957383|               Scarf|       29.85|            0.01|
|       113243|13/12/2016 17:48| 100000081|     Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|
|       113242|13/12/2016 17:46| 200000821|  Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|
|       113241|13/12/2016 17:45| 300000015|Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|
|       113239|13/12/2016 17:42| 300000822|  Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|
|       113238|13/12/2016 17:42| 300000815|    Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|
|       113237|13/12/2016 17:42| 100000618|   Andrew|   Wright|        Wyomin|3890778939|   Suit & 2 pc Dress|      125.16|            0.08|
|       113236|13/12/2016 17:42| 100000051|   Sophie|  Wilkins|    Washington|5153370805|              Shorts|       43.96|            0.04|
|       113235|13/12/2016 17:42| 100000880|   Rachel| Springer|  North Dakota|1737807900|                 Tie|       68.64|            null|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
only showing top 20 rows

In [29]:
#Filling missing values
df_pyspark.na.fill('MissingValue').show() #Only fill the columns with type = String

+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|TransactionID|       Timestamp|CustomerID|     Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|       113255|13/12/2016 18:05| 200000663|  Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|
|       113254|13/12/2016 18:05| 200000661|    Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|
|       113253|13/12/2016 18:03| 200000662|   Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|
|       113252|13/12/2016 18:01| 100000007|  Dorothy|  Thomson|       Alabama|      null|                Coat|       159.8|            0.07|
|       113251|13/12/2016 18:01| 400000180|     Eric|    Bower| New Hampshire|6697166886|                Coat|       159.8|            null|
|       113250|13/12/2016 17:59| 200000701|   Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|
|       113249|    MissingValue| 300000467|   Angela| Morrison|          Utah|7010679527|             Blanket|       63.84|            0.08|
|       113248|13/12/2016 17:58| 400000706| Samantha|    Mills|       Alabama|1893735141|        MissingValue|       115.5|             0.1|
|       113247|13/12/2016 17:57| 100000061|    Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|
|       113246|13/12/2016 17:55| 400000513|      Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|
|       113245|13/12/2016 17:51| 200000459|  Charles|    Brown|       Arizona|6988128169|             Handbag|        null|            0.04|
|       113244|13/12/2016 17:48| 200000482|   Justin|   Graham|  MissingValue|7270957383|               Scarf|       29.85|            0.01|
|       113243|13/12/2016 17:48| 100000081|     Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|
|       113242|13/12/2016 17:46| 200000821|  Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|
|       113241|13/12/2016 17:45| 300000015|Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|
|       113240|13/12/2016 17:43|      null| Nicholas|    Lyman|North Carolina|4924918902|             T-shirt|       62.79|            0.09|
|       113239|13/12/2016 17:42| 300000822|  Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|
|       113238|13/12/2016 17:42| 300000815|    Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|
|       113237|13/12/2016 17:42| 100000618|   Andrew|   Wright|        Wyomin|3890778939|   Suit & 2 pc Dress|      125.16|            0.08|
|       113236|13/12/2016 17:42| 100000051|   Sophie|  Wilkins|    Washington|5153370805|              Shorts|       43.96|            0.04|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
only showing top 20 rows

In [30]:
#Filling missing values
df_pyspark.na.fill(99).show() #Only fill the columns with type = Integer

+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|TransactionID|       Timestamp|CustomerID|     Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|       113255|13/12/2016 18:05| 200000663|  Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|
|       113254|13/12/2016 18:05| 200000661|    Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|
|       113253|13/12/2016 18:03| 200000662|   Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|
|       113252|13/12/2016 18:01| 100000007|  Dorothy|  Thomson|       Alabama|        99|                Coat|       159.8|            0.07|
|       113251|13/12/2016 18:01| 400000180|     Eric|    Bower| New Hampshire|6697166886|                Coat|       159.8|            99.0|
|       113250|13/12/2016 17:59| 200000701|   Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|
|       113249|            null| 300000467|   Angela| Morrison|          Utah|7010679527|             Blanket|       63.84|            0.08|
|       113248|13/12/2016 17:58| 400000706| Samantha|    Mills|       Alabama|1893735141|                null|       115.5|             0.1|
|       113247|13/12/2016 17:57| 100000061|    Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|
|       113246|13/12/2016 17:55| 400000513|      Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|
|       113245|13/12/2016 17:51| 200000459|  Charles|    Brown|       Arizona|6988128169|             Handbag|        99.0|            0.04|
|       113244|13/12/2016 17:48| 200000482|   Justin|   Graham|          null|7270957383|               Scarf|       29.85|            0.01|
|       113243|13/12/2016 17:48| 100000081|     Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|
|       113242|13/12/2016 17:46| 200000821|  Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|
|       113241|13/12/2016 17:45| 300000015|Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|
|       113240|13/12/2016 17:43|        99| Nicholas|    Lyman|North Carolina|4924918902|             T-shirt|       62.79|            0.09|
|       113239|13/12/2016 17:42| 300000822|  Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|
|       113238|13/12/2016 17:42| 300000815|    Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|
|       113237|13/12/2016 17:42| 100000618|   Andrew|   Wright|        Wyomin|3890778939|   Suit & 2 pc Dress|      125.16|            0.08|
|       113236|13/12/2016 17:42| 100000051|   Sophie|  Wilkins|    Washington|5153370805|              Shorts|       43.96|            0.04|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
only showing top 20 rows

In [31]:
#Filling missing values of a specific column/s
df_pyspark.na.fill(999999, ['Item', 'Loyalty_Discount']).show()

+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|TransactionID|       Timestamp|CustomerID|     Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|       113255|13/12/2016 18:05| 200000663|  Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|
|       113254|13/12/2016 18:05| 200000661|    Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|
|       113253|13/12/2016 18:03| 200000662|   Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|
|       113252|13/12/2016 18:01| 100000007|  Dorothy|  Thomson|       Alabama|    999999|                Coat|       159.8|            0.07|
|       113251|13/12/2016 18:01| 400000180|     Eric|    Bower| New Hampshire|6697166886|                Coat|       159.8|        999999.0|
|       113250|13/12/2016 17:59| 200000701|   Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|
|       113249|            null| 300000467|   Angela| Morrison|          Utah|7010679527|             Blanket|       63.84|            0.08|
|       113248|13/12/2016 17:58| 400000706| Samantha|    Mills|       Alabama|1893735141|                null|       115.5|             0.1|
|       113247|13/12/2016 17:57| 100000061|    Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|
|       113246|13/12/2016 17:55| 400000513|      Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|
|       113245|13/12/2016 17:51| 200000459|  Charles|    Brown|       Arizona|6988128169|             Handbag|        null|            0.04|
|       113244|13/12/2016 17:48| 200000482|   Justin|   Graham|          null|7270957383|               Scarf|       29.85|            0.01|
|       113243|13/12/2016 17:48| 100000081|     Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|
|       113242|13/12/2016 17:46| 200000821|  Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|
|       113241|13/12/2016 17:45| 300000015|Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|
|       113240|13/12/2016 17:43|      null| Nicholas|    Lyman|North Carolina|4924918902|             T-shirt|       62.79|            0.09|
|       113239|13/12/2016 17:42| 300000822|  Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|
|       113238|13/12/2016 17:42| 300000815|    Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|
|       113237|13/12/2016 17:42| 100000618|   Andrew|   Wright|        Wyomin|3890778939|   Suit & 2 pc Dress|      125.16|            0.08|
|       113236|13/12/2016 17:42| 100000051|   Sophie|  Wilkins|    Washington|5153370805|              Shorts|       43.96|            0.04|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
only showing top 20 rows

In [32]:
#Create new columns with Filling missing values of a specific column/s with mean
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Retail_Price', 'Loyalty_Discount'],
    outputCols = ['{}_inputed'.format(c) for c in ['Retail_Price', 'Loyalty_Discount']]
    ).setStrategy('mean')

In [33]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+--------------------+------------------------+
|TransactionID|       Timestamp|CustomerID|     Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|Retail_Price_inputed|Loyalty_Discount_inputed|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+--------------------+------------------------+
|       113255|13/12/2016 18:05| 200000663|  Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|               18.96|                    0.02|
|       113254|13/12/2016 18:05| 200000661|    Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|                23.1|                     0.0|
|       113253|13/12/2016 18:03| 200000662|   Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|                29.9|                     0.1|
|       113252|13/12/2016 18:01| 100000007|  Dorothy|  Thomson|       Alabama|      null|                Coat|       159.8|            0.07|               159.8|                    0.07|
|       113251|13/12/2016 18:01| 400000180|     Eric|    Bower| New Hampshire|6697166886|                Coat|       159.8|            null|               159.8|                    0.06|
|       113250|13/12/2016 17:59| 200000701|   Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|               12.87|                     0.1|
|       113249|            null| 300000467|   Angela| Morrison|          Utah|7010679527|             Blanket|       63.84|            0.08|               63.84|                    0.08|
|       113248|13/12/2016 17:58| 400000706| Samantha|    Mills|       Alabama|1893735141|                null|       115.5|             0.1|               115.5|                     0.1|
|       113247|13/12/2016 17:57| 100000061|    Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|               49.75|                     0.1|
|       113246|13/12/2016 17:55| 400000513|      Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|               41.86|                    0.02|
|       113245|13/12/2016 17:51| 200000459|  Charles|    Brown|       Arizona|6988128169|             Handbag|        null|            0.04|    63.3379166666667|                    0.04|
|       113244|13/12/2016 17:48| 200000482|   Justin|   Graham|          null|7270957383|               Scarf|       29.85|            0.01|               29.85|                    0.01|
|       113243|13/12/2016 17:48| 100000081|     Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|               47.76|                    0.02|
|       113242|13/12/2016 17:46| 200000821|  Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|               68.77|                    0.08|
|       113241|13/12/2016 17:45| 300000015|Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|               95.88|                    0.08|
|       113240|13/12/2016 17:43|      null| Nicholas|    Lyman|North Carolina|4924918902|             T-shirt|       62.79|            0.09|               62.79|                    0.09|
|       113239|13/12/2016 17:42| 300000822|  Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|               71.82|                    0.07|
|       113238|13/12/2016 17:42| 300000815|    Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|               67.92|                    0.03|
|       113237|13/12/2016 17:42| 100000618|   Andrew|   Wright|        Wyomin|3890778939|   Suit & 2 pc Dress|      125.16|            0.08|              125.16|                    0.08|
|       113236|13/12/2016 17:42| 100000051|   Sophie|  Wilkins|    Washington|5153370805|              Shorts|       43.96|            0.04|               43.96|                    0.04|
+-------------+----------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+--------------------+------------------------+
only showing top 20 rows

### Filter operations

In [34]:
df_pyspark = spark.read.csv('drive/MyDrive/PySparkpractice/P9-OLTP.csv', header = True, inferSchema=True)
df_pyspark.show()

+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|TransactionID|          Timestamp|CustomerID|     Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|
+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|       113255|2016-12-13 18:05:37| 200000663|  Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|
|       113254|2016-12-13 18:05:22| 200000661|    Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|
|       113253|2016-12-13 18:03:57| 200000662|   Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|
|       113252|2016-12-13 18:01:45| 100000007|  Dorothy|  Thomson|       Alabama|6697166886|                Coat|       159.8|            0.07|
|       113251|2016-12-13 18:01:22| 400000180|     Eric|    Bower| New Hampshire|6697166886|                Coat|       159.8|            0.06|
|       113250|2016-12-13 17:59:20| 200000701|   Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|
|       113249|2016-12-13 17:59:11| 300000467|   Angela| Morrison|          Utah|7010679527|             Blanket|       63.84|            0.08|
|       113248|2016-12-13 17:58:07| 400000706| Samantha|    Mills|       Alabama|1893735141|               Socks|       115.5|             0.1|
|       113247|2016-12-13 17:57:50| 100000061|    Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|
|       113246|2016-12-13 17:55:30| 400000513|      Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|
|       113245|2016-12-13 17:51:34| 200000459|  Charles|    Brown|       Arizona|6988128169|             Handbag|       25.44|            0.04|
|       113244|2016-12-13 17:48:55| 200000482|   Justin|   Graham|       Arizona|7270957383|               Scarf|       29.85|            0.01|
|       113243|2016-12-13 17:48:05| 100000081|     Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|
|       113242|2016-12-13 17:46:18| 200000821|  Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|
|       113241|2016-12-13 17:45:21| 300000015|Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|
|       113240|2016-12-13 17:43:39| 100000252| Nicholas|    Lyman|North Carolina|4924918902|             T-shirt|       62.79|            0.09|
|       113239|2016-12-13 17:42:54| 300000822|  Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|
|       113238|2016-12-13 17:42:42| 300000815|    Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|
|       113237|2016-12-13 17:42:31| 100000618|   Andrew|   Wright|        Wyomin|3890778939|   Suit & 2 pc Dress|      125.16|            0.08|
|       113236|2016-12-13 17:42:25| 100000051|   Sophie|  Wilkins|    Washington|5153370805|              Shorts|       43.96|            0.04|
+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
only showing top 20 rows

In [35]:
#Show transaction worth ofless or equal 100 dolars
df_pyspark.filter('Retail_Price <= 100').show()

+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|TransactionID|          Timestamp|CustomerID|     Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|
+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|       113255|2016-12-13 18:05:37| 200000663|  Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|
|       113254|2016-12-13 18:05:22| 200000661|    Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|
|       113253|2016-12-13 18:03:57| 200000662|   Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|
|       113250|2016-12-13 17:59:20| 200000701|   Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|
|       113249|2016-12-13 17:59:11| 300000467|   Angela| Morrison|          Utah|7010679527|             Blanket|       63.84|            0.08|
|       113247|2016-12-13 17:57:50| 100000061|    Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|
|       113246|2016-12-13 17:55:30| 400000513|      Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|
|       113245|2016-12-13 17:51:34| 200000459|  Charles|    Brown|       Arizona|6988128169|             Handbag|       25.44|            0.04|
|       113244|2016-12-13 17:48:55| 200000482|   Justin|   Graham|       Arizona|7270957383|               Scarf|       29.85|            0.01|
|       113243|2016-12-13 17:48:05| 100000081|     Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|
|       113242|2016-12-13 17:46:18| 200000821|  Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|
|       113241|2016-12-13 17:45:21| 300000015|Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|
|       113240|2016-12-13 17:43:39| 100000252| Nicholas|    Lyman|North Carolina|4924918902|             T-shirt|       62.79|            0.09|
|       113239|2016-12-13 17:42:54| 300000822|  Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|
|       113238|2016-12-13 17:42:42| 300000815|    Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|
|       113236|2016-12-13 17:42:25| 100000051|   Sophie|  Wilkins|    Washington|5153370805|              Shorts|       43.96|            0.04|
|       113235|2016-12-13 17:42:11| 100000880|   Rachel| Springer|  North Dakota|1737807900|                 Tie|       68.64|            0.03|
|       113234|2016-12-13 17:40:07| 100000898| Samantha|     Ross|        Montan|2695940506|             Sweater|        59.4|            0.02|
|       113233|2016-12-13 17:40:00| 400000359|Gabrielle|MacDonald|       Vermont|9873264896|                 Hat|       10.89|            0.07|
|       113232|2016-12-13 17:39:47| 100000559|    Grace|    Mills| Massachusetts|7270957383|               Scarf|       29.85|            0.09|
+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
only showing top 20 rows

In [36]:
#Show transaction worth ofless or equal 100 dolars
df_pyspark.filter(df_pyspark['Retail_Price'] <= 100).show()

+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|TransactionID|          Timestamp|CustomerID|     Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|
+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|       113255|2016-12-13 18:05:37| 200000663|  Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|
|       113254|2016-12-13 18:05:22| 200000661|    Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|
|       113253|2016-12-13 18:03:57| 200000662|   Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|
|       113250|2016-12-13 17:59:20| 200000701|   Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|
|       113249|2016-12-13 17:59:11| 300000467|   Angela| Morrison|          Utah|7010679527|             Blanket|       63.84|            0.08|
|       113247|2016-12-13 17:57:50| 100000061|    Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|
|       113246|2016-12-13 17:55:30| 400000513|      Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|
|       113245|2016-12-13 17:51:34| 200000459|  Charles|    Brown|       Arizona|6988128169|             Handbag|       25.44|            0.04|
|       113244|2016-12-13 17:48:55| 200000482|   Justin|   Graham|       Arizona|7270957383|               Scarf|       29.85|            0.01|
|       113243|2016-12-13 17:48:05| 100000081|     Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|
|       113242|2016-12-13 17:46:18| 200000821|  Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|
|       113241|2016-12-13 17:45:21| 300000015|Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|
|       113240|2016-12-13 17:43:39| 100000252| Nicholas|    Lyman|North Carolina|4924918902|             T-shirt|       62.79|            0.09|
|       113239|2016-12-13 17:42:54| 300000822|  Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|
|       113238|2016-12-13 17:42:42| 300000815|    Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|
|       113236|2016-12-13 17:42:25| 100000051|   Sophie|  Wilkins|    Washington|5153370805|              Shorts|       43.96|            0.04|
|       113235|2016-12-13 17:42:11| 100000880|   Rachel| Springer|  North Dakota|1737807900|                 Tie|       68.64|            0.03|
|       113234|2016-12-13 17:40:07| 100000898| Samantha|     Ross|        Montan|2695940506|             Sweater|        59.4|            0.02|
|       113233|2016-12-13 17:40:00| 400000359|Gabrielle|MacDonald|       Vermont|9873264896|                 Hat|       10.89|            0.07|
|       113232|2016-12-13 17:39:47| 100000559|    Grace|    Mills| Massachusetts|7270957383|               Scarf|       29.85|            0.09|
+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
only showing top 20 rows

In [37]:
#Show transaction worth ofless or equal 100 dolars, and show article description and price
df_pyspark.filter('Retail_Price <= 100').select(['Description', 'retail_Price']).show()

+--------------------+------------+
|         Description|retail_Price|
+--------------------+------------+
|          Pillowcase|       18.96|
|    Men's Pajama Set|        23.1|
|              Sheets|        29.9|
|          Short Slip|       12.87|
|             Blanket|       63.84|
|              Wallet|       49.75|
|         Dust Ruffle|       41.86|
|             Handbag|       25.44|
|               Scarf|       29.85|
|             Valance|       47.76|
|           Long Gown|       68.77|
|Coveralls (long s...|       95.88|
|             T-shirt|       62.79|
|      Short Overalls|       71.82|
|             Sweater|       67.92|
|              Shorts|       43.96|
|                 Tie|       68.64|
|             Sweater|        59.4|
|                 Hat|       10.89|
|               Scarf|       29.85|
+--------------------+------------+
only showing top 20 rows

In [38]:
#Show transaction worth of less or equal 100 dolars, and were bought by a person named Sophie
df_pyspark.filter((df_pyspark['Retail_Price'] <= 100) & (df_pyspark['Name'] == 'Sophie')).show()

+-------------+-------------------+----------+------+-------+--------------+----------+-----------+------------+----------------+
|TransactionID|          Timestamp|CustomerID|  Name|Surname|Shipping_State|      Item|Description|Retail_Price|Loyalty_Discount|
+-------------+-------------------+----------+------+-------+--------------+----------+-----------+------------+----------------+
|       113236|2016-12-13 17:42:25| 100000051|Sophie|Wilkins|    Washington|5153370805|     Shorts|       43.96|            0.04|
|       113207|2016-12-13 17:10:42| 100000051|Sophie|Wilkins|    Washington|7833392032|      Skirt|       55.86|            0.04|
|       112614|2016-12-13 03:47:02| 100000037|Sophie|   Gill|    California|2430071492|Dust Ruffle|       41.86|             0.0|
|       112076|2016-12-12 16:46:44| 100000297|Sophie|Thomson|   Pennsylvani|4681342313|     Sheets|        29.9|             0.0|
|       111294|2016-12-12 00:50:08| 300000857|Sophie|   Ince|         Maine|3390230025|        Top|       33.48|             0.1|
|       110729|2016-12-11 13:01:36| 100000297|Sophie|Thomson|   Pennsylvani|6917448328|      Socks|        8.82|             0.0|
|       110457|2016-12-11 07:42:39| 100000051|Sophie|Wilkins|    Washington|4574639519|      Jeans|        14.5|            0.04|
|       109973|2016-12-10 21:48:01| 100000297|Sophie|Thomson|   Pennsylvani|5310615417|        Tie|       41.79|             0.0|
|       109831|2016-12-10 18:40:36| 100000297|Sophie|Thomson|   Pennsylvani|9280265561|Coat/Jacket|       59.85|             0.0|
|       109817|2016-12-10 18:24:36| 300000857|Sophie|   Ince|         Maine|4934584980|Nylon Pants|       55.86|             0.1|
+-------------+-------------------+----------+------+-------+--------------+----------+-----------+------------+----------------+

In [39]:
#Show transaction worth of morethan  100 dolars, and were not bought by a person named Sophie
df_pyspark.filter(~((df_pyspark['Retail_Price'] <= 100) & (df_pyspark['Name'] == 'Sophie'))).show()

+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|TransactionID|          Timestamp|CustomerID|     Name|  Surname|Shipping_State|      Item|         Description|Retail_Price|Loyalty_Discount|
+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
|       113255|2016-12-13 18:05:37| 200000663|  Leonard|  Jackson|      Delaware|8619953091|          Pillowcase|       18.96|            0.02|
|       113254|2016-12-13 18:05:22| 200000661|    Lucas|  Abraham|     Louisiana|2020397001|    Men's Pajama Set|        23.1|             0.0|
|       113253|2016-12-13 18:03:57| 200000662|   Trevor|  Skinner|     Louisiana|4681342313|              Sheets|        29.9|             0.1|
|       113252|2016-12-13 18:01:45| 100000007|  Dorothy|  Thomson|       Alabama|6697166886|                Coat|       159.8|            0.07|
|       113251|2016-12-13 18:01:22| 400000180|     Eric|    Bower| New Hampshire|6697166886|                Coat|       159.8|            0.06|
|       113250|2016-12-13 17:59:20| 200000701|   Joshua|   Wilson|North Carolina|5187373849|          Short Slip|       12.87|             0.1|
|       113249|2016-12-13 17:59:11| 300000467|   Angela| Morrison|          Utah|7010679527|             Blanket|       63.84|            0.08|
|       113248|2016-12-13 17:58:07| 400000706| Samantha|    Mills|       Alabama|1893735141|               Socks|       115.5|             0.1|
|       113247|2016-12-13 17:57:50| 100000061|    Kylie|   Howard|     Minnesota|8241463559|              Wallet|       49.75|             0.1|
|       113246|2016-12-13 17:55:30| 400000513|      Amy|  Wilkins|     Minnesota|2430071492|         Dust Ruffle|       41.86|            0.02|
|       113245|2016-12-13 17:51:34| 200000459|  Charles|    Brown|       Arizona|6988128169|             Handbag|       25.44|            0.04|
|       113244|2016-12-13 17:48:55| 200000482|   Justin|   Graham|       Arizona|7270957383|               Scarf|       29.85|            0.01|
|       113243|2016-12-13 17:48:05| 100000081|     Joan| Buckland|     Minnesota|6228611532|             Valance|       47.76|            0.02|
|       113242|2016-12-13 17:46:18| 200000821|  Charles|Underwood|         Texas|1940915493|           Long Gown|       68.77|            0.08|
|       113241|2016-12-13 17:45:21| 300000015|Madeleine| Marshall|       Arizona|3305177499|Coveralls (long s...|       95.88|            0.08|
|       113240|2016-12-13 17:43:39| 100000252| Nicholas|    Lyman|North Carolina|4924918902|             T-shirt|       62.79|            0.09|
|       113239|2016-12-13 17:42:54| 300000822|  Leonard|   Fisher|         Maine|2363094138|      Short Overalls|       71.82|            0.07|
|       113238|2016-12-13 17:42:42| 300000815|    Pippa|Robertson| Massachusetts|2355020550|             Sweater|       67.92|            0.03|
|       113237|2016-12-13 17:42:31| 100000618|   Andrew|   Wright|        Wyomin|3890778939|   Suit & 2 pc Dress|      125.16|            0.08|
|       113235|2016-12-13 17:42:11| 100000880|   Rachel| Springer|  North Dakota|1737807900|                 Tie|       68.64|            0.03|
+-------------+-------------------+----------+---------+---------+--------------+----------+--------------------+------------+----------------+
only showing top 20 rows

### Group by and aggregation functions

In [40]:
#Group by CustomerID and calculate money spent in shopping
df_pyspark.groupby('CustomerID').sum('Retail_Price').show()

+----------+------------------+
|CustomerID| sum(Retail_Price)|
+----------+------------------+
| 200000100|             88.16|
| 100000862|            290.41|
| 100000137|218.95000000000002|
| 200000751|             104.4|
| 200000727|111.53999999999999|
| 100000092|            159.74|
| 100000226|            184.91|
| 100000187| 352.2199999999999|
| 300000635|            139.09|
| 200000262|183.26999999999998|
| 200000534|             49.97|
| 200000700|              89.9|
| 100000134|            195.68|
| 100000838|            188.32|
| 100000020|            267.12|
| 200000608|            180.42|
| 100000208|219.66000000000003|
| 400000434|            139.41|
| 400000737|            180.61|
| 100000435|427.38000000000005|
+----------+------------------+
only showing top 20 rows

In [41]:
#Calculate mean spent
df_pyspark.groupby('CustomerID').mean('retail_price').show()

+----------+------------------+
|CustomerID| avg(retail_price)|
+----------+------------------+
| 200000100|             22.04|
| 100000862| 58.08200000000001|
| 100000137| 72.98333333333333|
| 200000751|34.800000000000004|
| 200000727|55.769999999999996|
| 100000092| 53.24666666666667|
| 100000226|            36.982|
| 100000187| 58.70333333333332|
| 300000635|           34.7725|
| 200000262|45.817499999999995|
| 200000534|16.656666666666666|
| 200000700|             44.95|
| 100000134|             97.84|
| 100000838|             47.08|
| 100000020|             89.04|
| 200000608| 60.13999999999999|
| 100000208|109.83000000000001|
| 400000434|             46.47|
| 400000737|           45.1525|
| 100000435|             71.23|
+----------+------------------+
only showing top 20 rows

In [42]:
#Calculate how may times each costumer bought
df_pyspark.groupby('CustomerID').count().show()

+----------+-----+
|CustomerID|count|
+----------+-----+
| 200000100|    4|
| 100000862|    5|
| 100000137|    3|
| 200000751|    3|
| 200000727|    2|
| 100000092|    3|
| 100000226|    5|
| 100000187|    6|
| 300000635|    4|
| 200000262|    4|
| 200000534|    3|
| 200000700|    2|
| 100000134|    2|
| 100000838|    4|
| 100000020|    3|
| 200000608|    3|
| 100000208|    2|
| 400000434|    3|
| 400000737|    4|
| 100000435|    6|
+----------+-----+
only showing top 20 rows

### Example of PySpark ML

#### predicting Salary using PySpark

##### Prepare data

In [43]:
df = spark.read.csv('drive/MyDrive/PySparkpractice/nomes.csv', header = True, inferSchema=True)
df.show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|     luis| 10|        10|100000|
|  mafalda| 11|         2|  2000|
|    maria| 12|        13|  3000|
|  antonio| 13|         4|  4000|
|    pedro| 14|         5|  5200|
|  cecilia| 15|        26|  6000|
|   otavio| 16|         7|  7000|
| cristina| 17|         8|  8009|
|cristiana| 18|        92|  9000|
|    diana| 19|        10| 10000|
|     sara| 20|        11|   110|
|  roberto| 21|        12| 12000|
|    vitor| 22|       130| 13000|
|   manuel| 23|        14|  1400|
|francisco| 24|        15| 15000|
+---------+---+----------+------+

In [44]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

independent features: age, experience

dependent feature: salary

In [45]:
from pyspark.ml.feature import VectorAssembler

In [46]:
featureAssembler = VectorAssembler(inputCols=['age', 'experience'], outputCol= 'independent_features')

In [47]:
output = featureAssembler.transform(df)

In [48]:
output.show()

+---------+---+----------+------+--------------------+
|     name|age|experience|salary|independent_features|
+---------+---+----------+------+--------------------+
|     luis| 10|        10|100000|         [10.0,10.0]|
|  mafalda| 11|         2|  2000|          [11.0,2.0]|
|    maria| 12|        13|  3000|         [12.0,13.0]|
|  antonio| 13|         4|  4000|          [13.0,4.0]|
|    pedro| 14|         5|  5200|          [14.0,5.0]|
|  cecilia| 15|        26|  6000|         [15.0,26.0]|
|   otavio| 16|         7|  7000|          [16.0,7.0]|
| cristina| 17|         8|  8009|          [17.0,8.0]|
|cristiana| 18|        92|  9000|         [18.0,92.0]|
|    diana| 19|        10| 10000|         [19.0,10.0]|
|     sara| 20|        11|   110|         [20.0,11.0]|
|  roberto| 21|        12| 12000|         [21.0,12.0]|
|    vitor| 22|       130| 13000|        [22.0,130.0]|
|   manuel| 23|        14|  1400|         [23.0,14.0]|
|francisco| 24|        15| 15000|         [24.0,15.0]|
+---------+---+----------+------+--------------------+

In [49]:
finalized_data = output.select(['independent_features', 'salary'])

In [50]:
finalized_data.show()

+--------------------+------+
|independent_features|salary|
+--------------------+------+
|         [10.0,10.0]|100000|
|          [11.0,2.0]|  2000|
|         [12.0,13.0]|  3000|
|          [13.0,4.0]|  4000|
|          [14.0,5.0]|  5200|
|         [15.0,26.0]|  6000|
|          [16.0,7.0]|  7000|
|          [17.0,8.0]|  8009|
|         [18.0,92.0]|  9000|
|         [19.0,10.0]| 10000|
|         [20.0,11.0]|   110|
|         [21.0,12.0]| 12000|
|        [22.0,130.0]| 13000|
|         [23.0,14.0]|  1400|
|         [24.0,15.0]| 15000|
+--------------------+------+

##### Split data

In [51]:
from pyspark.ml.regression import LinearRegression

In [52]:
#train test split (75% train, 25% test)
train_data, test_data = finalized_data.randomSplit([0.70, 0.3], seed = 2023)

In [53]:
train_data.show()

+--------------------+------+
|independent_features|salary|
+--------------------+------+
|         [10.0,10.0]|100000|
|          [11.0,2.0]|  2000|
|         [12.0,13.0]|  3000|
|          [13.0,4.0]|  4000|
|          [14.0,5.0]|  5200|
|          [16.0,7.0]|  7000|
|          [17.0,8.0]|  8009|
|         [18.0,92.0]|  9000|
|         [20.0,11.0]|   110|
|        [22.0,130.0]| 13000|
|         [23.0,14.0]|  1400|
|         [24.0,15.0]| 15000|
+--------------------+------+

In [54]:
test_data.show()

+--------------------+------+
|independent_features|salary|
+--------------------+------+
|         [15.0,26.0]|  6000|
|         [19.0,10.0]| 10000|
|         [21.0,12.0]| 12000|
+--------------------+------+

In [55]:
#build Linear Regression model
regressor = LinearRegression(featuresCol='independent_features', labelCol='salary')

##### Train model

In [56]:
#train model
model = regressor.fit(train_data)

##### Make predictions

In [57]:
from pyspark.ml.evaluation import RegressionEvaluator

In [58]:
predictions = model.transform(test_data)

In [59]:
evaluator = RegressionEvaluator(predictionCol='prediction', labelCol='salary', metricName='rmse')

In [60]:
rmse = evaluator.evaluate(predictions)

In [61]:
print(f'Root Mean Squared Error (RMSE) on test data = {rmse:.3f}')

Root Mean Squared Error (RMSE) on test data = 9024.783

In [62]:
#Predictions made
predictions.select('salary', 'prediction').show()

+------+------------------+
|salary|        prediction|
+------+------------------+
|  6000|17941.174581012776|
| 10000| 6946.985561493515|
| 12000|2386.0746119165415|
+------+------------------+